
$theme: '.ace';
$theme: '.ace.sc-jumbo-size';


#{$theme}.sc-segment-view {

  height: 44px;
  
  .left {
    width: 8px;
    height: 44px;
    @extend .__s46_44;
-chance-offset: "resources/segmented/44px/segmented_normal_100_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .right {
    width: 8px;
    height: 44px;
    @extend .__s46_45;
-chance-offset: "resources/segmented/44px/segmented_normal_92_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .middle {
    left: 8px; right: 8px;
    height: 44px;
    @extend .__s46_46;
-chance-offset: "resources/segmented/44px/segmented_normal_8_0_1__0_" 0 0;background-repeat: repeat-x;
  }
  
  .sc-button-label {
    color:#777;
    font-size: 16px;
    font-weight: bold;
    top: 12px;
    text-shadow: 0px 1px 1px white;
    margin-left: 9px;
    margin-right: 10px;
  }
  
  &.sc-first-segment .left {
    @extend .__s46_47;
-chance-offset: "resources/segmented/44px/segmented_normal_0_0_8__0_" 0 0;background-repeat: no-repeat;
  }
    
  &.sc-last-segment .right {
    @extend .__s46_48;
-chance-offset: "resources/segmented/44px/segmented_normal__0_8__0_0" 0 0;background-repeat: no-repeat;  
  }
  
  
  
  &.active {
    .left { @extend .__s46_49;
-chance-offset: "resources/segmented/44px/segmented_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s46_50;
-chance-offset: "resources/segmented/44px/segmented_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s46_51;
-chance-offset: "resources/segmented/44px/segmented_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }
  
  &.active.sc-first-segment {
    .left { @extend .__s46_52;
-chance-offset: "resources/segmented/44px/segmented_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }
  
  &.active.sc-last-segment {
    .right { @extend .__s46_53;
-chance-offset: "resources/segmented/44px/segmented_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel {
    .left { @extend .__s46_54;
-chance-offset: "resources/segmented/44px/segmented_selected_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s46_55;
-chance-offset: "resources/segmented/44px/segmented_selected_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s46_56;
-chance-offset: "resources/segmented/44px/segmented_selected_8_0_1__0_" 0 0;background-repeat: repeat-x; }
    
    .sc-button-label { color: white; text-shadow: 0px -1px 1px rgba(0,0,0,.7);}
  }

  &.sel.sc-first-segment {
    .left { @extend .__s46_57;
-chance-offset: "resources/segmented/44px/segmented_selected_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.sc-last-segment {
    .right { @extend .__s46_58;
-chance-offset: "resources/segmented/44px/segmented_selected__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel.active {
    .left { @extend .__s46_59;
-chance-offset: "resources/segmented/44px/segmented_selected_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s46_60;
-chance-offset: "resources/segmented/44px/segmented_selected_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s46_61;
-chance-offset: "resources/segmented/44px/segmented_selected_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.active.sc-first-segment {
    .left { @extend .__s46_62;
-chance-offset: "resources/segmented/44px/segmented_selected_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.active.sc-last-segment {
    .right { @extend .__s46_63;
-chance-offset: "resources/segmented/44px/segmented_selected_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }

}

$theme: '.ace';

