
img.plain {
  border: inherit !important;
  background: inherit !important;
}

img.full {
  /* margin: auto; */
  /* height: 100%; */
  display: block;
}

.right { float: right; }
.left { float: left; }

.text-right { text-align: right; }
.text-left { text-align: left; }

.bold {
  font-weight: bold !important;
}

table.list {
  margin: auto;
}
table.list td {
  padding-left: 1em;
}


table.inner-border {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden
}

table.inner-border tr:first-child {
  background-color: #220;
}

table.inner-border td, table.inner-border th {
  border: 5px solid #880;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
