
img.plain {
  border: inherit !important;
  background: inherit !important;
}

img.full {
  /* margin: auto; */
  /* height: 100%; */
  display: block;
}

.right { float: right; }
.left { float: left; }

.text-right { text-align: right; }
.text-left { text-align: left; }

.bold {
  font-weight: bold !important;
}

table.list {
  margin: auto;
}
table.list td {
  padding-left: 1em;
}
