
$theme: '.ace';/* Track */
#{$theme}.sc-scroller-view.sc-horizontal {
  .track {
	  position: absolute;
  	left: 0px;
  	right: 0px;
  	top: 0;
  	bottom: 0;
  	@extend .__s52_113;
-chance-offset: "resources/scroller/horizontal/track_and_arrows_16_0_1__0_" 0 0;background-repeat: repeat-x;
  }
  
  .cap {
  	position:absolute;
  	width: 16;
  	height: 14px;
  	width: 16px;
  	left: 0px;
    @extend .__s52_114;
-chance-offset: "resources/scroller/horizontal/track_and_arrows_0_0_16__0_" 0 0;background-repeat: no-repeat;
  }

  
  .button-left, .button-top {
	  position:absolute;
	  @extend .__s52_115;
-chance-offset: "resources/scroller/horizontal/track_and_arrows__0_26__0_15" 0 0;background-repeat: no-repeat;
  	width: 26px;
    height: 14px;
    right: 15px;
  }


  .button-right, .button-bottom {
  	position:absolute;
  	@extend .__s52_116;
-chance-offset: "resources/scroller/horizontal/track_and_arrows__0_15__0_0" 0 0;background-repeat: no-repeat;
  	width: 15px;
    height: 14px;
    right: 0px;
  }

  
  .button-left:active, .button-top:active {
	  @extend .__s52_117;
-chance-offset: "resources/scroller/horizontal/track_and_arrows_active__0_26__0_15" 0 0;background-repeat: no-repeat;
  }

  .button-right:active, .button-bottom:active {
  	@extend .__s52_118;
-chance-offset: "resources/scroller/horizontal/track_and_arrows_active__0_15__0_0" 0 0;background-repeat: no-repeat;
  }

  
  .thumb {
  	position:absolute;
  }

  .thumb-center {
  	position: absolute;
  	height: 14px;
  	left: 10px;
  	right: 8px; /* hack to account for a different cap length than is hard-coded in;
  	we need a render delegate here pretty badly. */
  	@extend .__s52_119;
-chance-offset: "resources/scroller/horizontal/thumb_10_0_1__0_" 0 0;background-repeat: repeat-x;
  }

  .thumb-left, .thumb-top {
  	position: absolute;
  	height: 14px;
  	left: 0px;
  	width: 10px;
  	@extend .__s52_120;
-chance-offset: "resources/scroller/horizontal/thumb_0_0_10__0_" 0 0;background-repeat: no-repeat;
  }

  .thumb-right, .thumb-bottom {
  	position: absolute;
  	height: 14px;
  	right: -2px; /* hack to account for a different cap length than is hard-coded in;
  	we need a render delegate here pretty badly. */
  	width: 10px;
  	@extend .__s52_121;
-chance-offset: "resources/scroller/horizontal/thumb__0_10__0_0" 0 0;background-repeat: no-repeat;
  }
}