
$theme: '.ace';/* Track */
#{$theme}.sc-scroller-view.sc-vertical {
  .track {
	  position: absolute;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	width: 14px;
  	@extend .__s30_104;
-chance-offset: "resources/scroller/vertical/track_and_arrows_0_16__1__0" 0 0;background-repeat: repeat-y;
  }
  
  .cap {
  	position:absolute;
  	width: 14px;
  	height: 16px;
  	top: 0px;
    @extend .__s30_105;
-chance-offset: "resources/scroller/vertical/track_and_arrows_0_0__16__0" 0 0;background-repeat: no-repeat;
  }

  
  .button-top, .button-left {
	  position:absolute;
	  @extend .__s30_106;
-chance-offset: "resources/scroller/vertical/track_and_arrows_0___26_15_0" 0 0;background-repeat: no-repeat;
  	height: 26px;
    width: 14px;
    bottom: 15px;
  }


  .button-right, .button-bottom {
  	position:absolute;
  	@extend .__s30_107;
-chance-offset: "resources/scroller/vertical/track_and_arrows_0___15_0_0" 0 0;background-repeat: no-repeat;
  	height: 15px;
    width: 14px;
    bottom: 0px;
  }

  
  .button-top:active, .button-left:active,
  .button-top.active, .button-left.active {
	  @extend .__s30_108;
-chance-offset: "resources/scroller/vertical/track_and_arrows_active_0___26_15_0" 0 0;background-repeat: no-repeat;
  }

  .button-right:active, .button-bottom:active,
  .button-right.active, .button-bottom.active {
  	@extend .__s30_109;
-chance-offset: "resources/scroller/vertical/track_and_arrows_active_0___15_0_0" 0 0;background-repeat: no-repeat;
  }

  
  .thumb {
  	position:absolute;
  	overflow: visible;
  }

  .thumb-center {
  	position: absolute;
  	width: 14px;
  	top: 10px;
  	bottom: 8px; /* hack to account for a different cap length than is hard-coded in;
  	we need a render delegate here pretty badly. */
  	@extend .__s30_110;
-chance-offset: "resources/scroller/vertical/thumb_0_10__1__0" 0 0;background-repeat: repeat-y;
  }

  .thumb-top, .thumb-left {
  	position: absolute;
  	width: 14px;
  	top: 0px;
  	height: 10px;
  	@extend .__s30_111;
-chance-offset: "resources/scroller/vertical/thumb_0_0__10__0" 0 0;background-repeat: no-repeat;
  }

  .thumb-right, .thumb-bottom {
  	position: absolute;
  	width: 14px;
  	bottom: -2px; /* hack to account for a different cap length than is hard-coded in;
  	we need a render delegate here pretty badly. */
  	height: 10px;
  	@extend .__s30_112;
-chance-offset: "resources/scroller/vertical/thumb_0___10_0_0" 0 0;background-repeat: no-repeat;
  }
}