
$theme: '.ace';
$theme: '.ace.sc-large-size';


#{$theme}.sc-segment-view {

  height: 30px;
  
  .left {
    width: 8px;
    height: 30px;
    @extend .__s45_24;
-chance-offset: "resources/segmented/30px/segmented_normal_100_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .right {
    width: 8px;
    height: 30px;
    @extend .__s45_25;
-chance-offset: "resources/segmented/30px/segmented_normal_92_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .middle {
    left: 8px; right: 8px;
    height: 30px;
    @extend .__s45_26;
-chance-offset: "resources/segmented/30px/segmented_normal_8_0_1__0_" 0 0;background-repeat: repeat-x;
  }
  
  .sc-button-label {
    padding: 0px;
    font-size: 13px;
    top: 4px;
    margin-left: 9px;
    margin-right: 10px;
  }
  
  &.sc-first-segment .left {
    @extend .__s45_27;
-chance-offset: "resources/segmented/30px/segmented_normal_0_0_8__0_" 0 0;background-repeat: no-repeat;
  }
    
  &.sc-last-segment .right {
    @extend .__s45_28;
-chance-offset: "resources/segmented/30px/segmented_normal__0_8__0_0" 0 0;background-repeat: no-repeat;  
  }
  
  
  
  &.active {
    .left { @extend .__s45_29;
-chance-offset: "resources/segmented/30px/segmented_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s45_30;
-chance-offset: "resources/segmented/30px/segmented_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s45_31;
-chance-offset: "resources/segmented/30px/segmented_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }
  
  &.active.sc-first-segment {
    .left { @extend .__s45_32;
-chance-offset: "resources/segmented/30px/segmented_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }
  
  &.active.sc-last-segment {
    .right { @extend .__s45_33;
-chance-offset: "resources/segmented/30px/segmented_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel {
    .left { @extend .__s45_34;
-chance-offset: "resources/segmented/30px/segmented_selected_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s45_35;
-chance-offset: "resources/segmented/30px/segmented_selected_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s45_36;
-chance-offset: "resources/segmented/30px/segmented_selected_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.sc-first-segment {
    .left { @extend .__s45_37;
-chance-offset: "resources/segmented/30px/segmented_selected_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.sc-last-segment {
    .right { @extend .__s45_38;
-chance-offset: "resources/segmented/30px/segmented_selected__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel.active {
    .left { @extend .__s45_39;
-chance-offset: "resources/segmented/30px/segmented_selected_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s45_40;
-chance-offset: "resources/segmented/30px/segmented_selected_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s45_41;
-chance-offset: "resources/segmented/30px/segmented_selected_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.active.sc-first-segment {
    .left { @extend .__s45_42;
-chance-offset: "resources/segmented/30px/segmented_selected_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.active.sc-last-segment {
    .right { @extend .__s45_43;
-chance-offset: "resources/segmented/30px/segmented_selected_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }

}

$theme: '.ace';

