
$theme: '.ace';#{$theme}.progress {
  border: 0px none;
  .track {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    & > .left {
@extend .__s39_0;
-chance-offset: "resources/progress/ace/progress_view_track_0_0_1__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 1px; 
}
& > .middle {
@extend .__s39_1;
-chance-offset: "resources/progress/ace/progress_view_track_1_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 1px; 
top: 0px; 
right: 1px; 
bottom: 0px; 
}
& > .right {
@extend .__s39_2;
-chance-offset: "resources/progress/ace/progress_view_track__0_1__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 1px; 
}
;
  }
  
  .content {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    
    /* width set in rendering */
    
    & > .left {
@extend .__s39_3;
-chance-offset: "resources/progress/ace/progress_view_content_0_0_1__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 1px; 
}
& > .middle {
@extend .__s39_4;
-chance-offset: "resources/progress/ace/progress_view_content_1_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 1px; 
top: 0px; 
right: 1px; 
bottom: 0px; 
}
& > .right {
@extend .__s39_5;
-chance-offset: "resources/progress/ace/progress_view_content__0_1__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 1px; 
}
;
  }
  
  &.disabled {
    opacity: .5;
  }
}
