!!! 5
html(lang="en")
  head
    title hello
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(src="/js/jquery/jquery-1.6.2.min.js")
    script(src="/js/jit/jit-yc.js")
    script(src="/js/d3/d3.min.js")
    script(src="/js/jsonpath-0.8.0.js")
    script(src="/socket.io/socket.io.js")
  body
    #content!= body

