
$theme: '.ace';
$theme: '.ace.sc-regular-size';


  #{$theme}.slider {
    overflow: visible;
  
    .track { 
      position: absolute;
      top: 50%; height: 5px; left: 0px; right: 0px;
      margin-top: -2px;
      
      & > .left {
@extend .__s37_161;
-chance-offset: "resources/slider/ace/track_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s37_162;
-chance-offset: "resources/slider/ace/track_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s37_163;
-chance-offset: "resources/slider/ace/track__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
; 
    }
    
    .sc-handle { 
      display: block; position: absolute;
      width: 16px; height: 18px; top: 50%; margin-top: -8px;

      @extend .__s37_164;
-chance-offset: "resources/slider/ace/16px/knob_0_0___0_0" 0 0;background-repeat: no-repeat; 
    }
  
    &.active {
      .sc-handle { @extend .__s37_165;
-chance-offset: "resources/slider/ace/16px/knob_active_0_0___0_0" 0 0;background-repeat: no-repeat; }
    }
  
  }

$theme: '.ace';
