
.reveal section img.plain {
  background: none;
  border: none;
  
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.unreadable {
  font-size: 0.3em !important;
  overflow: hidden;
}

focus {
  display: block;
  margin: 0;
  padding: 3px;
  font-size: 1.3em;
  background-color: #072;
  font-weight: bold;
  border: 3px solid green;
  width: 100%;
}

pre, code {
  white-space: pre-wrap;
  overflow: hidden;
}

.lead-in {
  text-align: left;
  padding-bottom: 1em;
}
