
$theme: '.ace';#{$theme}.panel {
  background: transparent;
  
  .panel-background {
    position: absolute;
    left: -15px;
    top: -15px;
    bottom: -15px;
    right: -15px;
    
    & > .top-left {
@extend .__s54_193;
-chance-offset: "resources/panel/panel_0_0_25_25__" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
width: 25px; 
height: 25px; 
}
& > .left {
@extend .__s54_194;
-chance-offset: "resources/panel/panel_0_25_25_1__" 0 0;background-repeat: repeat-y;
position: absolute;
left: 0px; 
top: 25px; 
bottom: 25px; 
width: 25px; 
}
& > .bottom-left {
@extend .__s54_195;
-chance-offset: "resources/panel/panel_0__25_25_0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
bottom: 0px; 
width: 25px; 
height: 25px; 
}
& > .top {
@extend .__s54_196;
-chance-offset: "resources/panel/panel_25_0_1_25__" 0 0;background-repeat: repeat-x;
position: absolute;
left: 25px; 
top: 0px; 
right: 25px; 
height: 25px; 
}
& > .middle {
@extend .__s54_197;
-chance-offset: "resources/panel/panel_25_25_1_1__" 0 0;background-repeat: repeat-both;
position: absolute;
left: 25px; 
top: 25px; 
right: 25px; 
bottom: 25px; 
}
& > .bottom {
@extend .__s54_198;
-chance-offset: "resources/panel/panel_25__1_25_0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 25px; 
right: 25px; 
bottom: 0px; 
height: 25px; 
}
& > .top-right {
@extend .__s54_199;
-chance-offset: "resources/panel/panel__0_25_25__0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
width: 25px; 
height: 25px; 
}
& > .right {
@extend .__s54_200;
-chance-offset: "resources/panel/panel__25_25_1__0" 0 0;background-repeat: repeat-y;
position: absolute;
top: 25px; 
right: 0px; 
bottom: 25px; 
width: 25px; 
}
& > .bottom-right {
@extend .__s54_201;
-chance-offset: "resources/panel/panel___25_25_0_0" 0 0;background-repeat: no-repeat;
position: absolute;
right: 0px; 
bottom: 0px; 
width: 25px; 
height: 25px; 
}
;
  }
}
