h1 Programs

table
  tr
    th Name
    th Pid
    th State
  - each program in programs
    tr
      td
        a(href="/program/" + program.name)= program.name
      td= program.pid()
      td= program.state()

