
$theme: '.ace';
$theme: '.ace.popover';

  #{$theme}.picker {
    background: none;
  }
  
  #{$theme}.toolbar {
    background: none;
    color: white;
    text-shadow: none;
    border-bottom: 0px none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  
  #{$theme}.workspace {
    overflow: visible;
    background: none;
    
    .popover-background {
      
      position: absolute;
      top: -25px;
      bottom: -25px;
      left: -25px;
      right: -25px;
      
      & > .top-left {
@extend .__s55_122;
-chance-offset: "resources/picker/popover/popover_notoolbar_0_0_40_40__" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
width: 40px; 
height: 40px; 
}
& > .left {
@extend .__s55_123;
-chance-offset: "resources/picker/popover/popover_notoolbar_0_40_40_1__" 0 0;background-repeat: repeat-y;
position: absolute;
left: 0px; 
top: 40px; 
bottom: 40px; 
width: 40px; 
}
& > .bottom-left {
@extend .__s55_124;
-chance-offset: "resources/picker/popover/popover_notoolbar_0__40_40_0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
bottom: 0px; 
width: 40px; 
height: 40px; 
}
& > .top {
@extend .__s55_125;
-chance-offset: "resources/picker/popover/popover_notoolbar_40_0_1_40__" 0 0;background-repeat: repeat-x;
position: absolute;
left: 40px; 
top: 0px; 
right: 40px; 
height: 40px; 
}
& > .bottom {
@extend .__s55_126;
-chance-offset: "resources/picker/popover/popover_notoolbar_40__1_40_0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 40px; 
right: 40px; 
bottom: 0px; 
height: 40px; 
}
& > .top-right {
@extend .__s55_127;
-chance-offset: "resources/picker/popover/popover_notoolbar__0_40_40__0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
width: 40px; 
height: 40px; 
}
& > .right {
@extend .__s55_128;
-chance-offset: "resources/picker/popover/popover_notoolbar__40_40_1__0" 0 0;background-repeat: repeat-y;
position: absolute;
top: 40px; 
right: 0px; 
bottom: 40px; 
width: 40px; 
}
& > .bottom-right {
@extend .__s55_129;
-chance-offset: "resources/picker/popover/popover_notoolbar___40_40_0_0" 0 0;background-repeat: no-repeat;
position: absolute;
right: 0px; 
bottom: 0px; 
width: 40px; 
height: 40px; 
}
;
      
      div { z-index: 5; }
    }
    
    &.top-toolbar .popover-background {
      top: -20px;
      & > .top-left {
@extend .__s55_130;
-chance-offset: "resources/picker/popover/popover_0_0_40_75__" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
width: 40px; 
height: 75px; 
}
& > .top {
@extend .__s55_131;
-chance-offset: "resources/picker/popover/popover_40_0_1_75__" 0 0;background-repeat: repeat-x;
position: absolute;
left: 40px; 
top: 0px; 
right: 40px; 
height: 75px; 
}
& > .top-right {
@extend .__s55_132;
-chance-offset: "resources/picker/popover/popover__0_40_75__0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
width: 40px; 
height: 75px; 
}
;
      
      .left { top: 75px; }
      .right { top: 75px; }
    }
    
    
    &.bottom-toolbar .popover-background {
      bottom: -20px;
      & > .bottom-left {
@extend .__s55_133;
-chance-offset: "resources/picker/popover/popover_0__40_75_0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
bottom: 0px; 
width: 40px; 
height: 75px; 
}
& > .bottom {
@extend .__s55_134;
-chance-offset: "resources/picker/popover/popover_40__1_75_0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 40px; 
right: 40px; 
bottom: 0px; 
height: 75px; 
}
& > .bottom-right {
@extend .__s55_135;
-chance-offset: "resources/picker/popover/popover___40_75_0_0" 0 0;background-repeat: no-repeat;
position: absolute;
right: 0px; 
bottom: 0px; 
width: 40px; 
height: 75px; 
}
;
      
      .left { bottom: 75px; }
      .right { bottom: 75px; }
    }
    
  }
  
  
$theme: '.ace.popover.solid';

    #{$theme}.picker .popover-background, 
    #{$theme}.picker.top-toolbar    .popover-background, 
    #{$theme}.picker.bottom-toolbar .popover-background {
      top: -25px;
      bottom: -25px;
    
      & > .top-left {
@extend .__s55_136;
-chance-offset: "resources/picker/popover/popover_empty_0_0_40_75__" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
width: 40px; 
height: 75px; 
}
& > .left {
@extend .__s55_137;
-chance-offset: "resources/picker/popover/popover_empty_0_75_40_1__" 0 0;background-repeat: repeat-y;
position: absolute;
left: 0px; 
top: 75px; 
bottom: 40px; 
width: 40px; 
}
& > .bottom-left {
@extend .__s55_138;
-chance-offset: "resources/picker/popover/popover_empty_0__40_40_0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
bottom: 0px; 
width: 40px; 
height: 40px; 
}
& > .top {
@extend .__s55_139;
-chance-offset: "resources/picker/popover/popover_empty_40_0_1_75__" 0 0;background-repeat: repeat-x;
position: absolute;
left: 40px; 
top: 0px; 
right: 40px; 
height: 75px; 
}
& > .middle {
@extend .__s55_140;
-chance-offset: "resources/picker/popover/popover_empty_40_75_1_1__" 0 0;background-repeat: repeat-both;
position: absolute;
left: 40px; 
top: 75px; 
right: 40px; 
bottom: 40px; 
}
& > .bottom {
@extend .__s55_141;
-chance-offset: "resources/picker/popover/popover_empty_40__1_40_0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 40px; 
right: 40px; 
bottom: 0px; 
height: 40px; 
}
& > .top-right {
@extend .__s55_142;
-chance-offset: "resources/picker/popover/popover_empty__0_40_75__0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
width: 40px; 
height: 75px; 
}
& > .right {
@extend .__s55_143;
-chance-offset: "resources/picker/popover/popover_empty__75_40_1__0" 0 0;background-repeat: repeat-y;
position: absolute;
top: 75px; 
right: 0px; 
bottom: 40px; 
width: 40px; 
}
& > .bottom-right {
@extend .__s55_144;
-chance-offset: "resources/picker/popover/popover_empty___40_40_0_0" 0 0;background-repeat: no-repeat;
position: absolute;
right: 0px; 
bottom: 0px; 
width: 40px; 
height: 40px; 
}
;
    }
  $theme: '.ace.popover';

  
  #{$theme}.picker.perfectBottom {
    .sc-pointer {
      z-index: 6;
      position: absolute; width: 50px; height: 25px; margin-left: -25px; left: 50%; top: 0px;
      @extend .__s55_145;
-chance-offset: "resources/picker/popover/popover_pointers_notoolbar_155_0_50_25__" 0 0;background-repeat: no-repeat;
    }
    
    &.solid .sc-pointer, .solid .sc-pointer {
      top: 0px;
      @extend .__s55_146;
-chance-offset: "resources/picker/popover/popover_pointers_155_0_50_25__" 0 0;background-repeat: no-repeat;
    }
    
    .top-toolbar .sc-pointer { 
      top: 0px;
      @extend .__s55_146;
-chance-offset: "resources/picker/popover/popover_pointers_155_0_50_25__" 0 0;background-repeat: no-repeat;
    }
    
    &.extra-left {
      .sc-pointer { left: 70px; }
    }
  }
  
  #{$theme}.picker.perfectTop {
    .sc-pointer {
      z-index: 6;
      position: absolute; width: 50px; height: 25px; margin-left: -25px; left: 50%; bottom: 0px;
      @extend .__s55_147;
-chance-offset: "resources/picker/popover/popover_pointers_155__50_25_0_" 0 0;background-repeat: no-repeat;
    }
    
    &.solid .sc-pointer, .solid .sc-pointer {
      bottom: 0px;
      @extend .__s55_147;
-chance-offset: "resources/picker/popover/popover_pointers_155__50_25_0_" 0 0;background-repeat: no-repeat;
    }
    
    .top-toolbar .sc-pointer { 
      bottom: 0px;
      @extend .__s55_147;
-chance-offset: "resources/picker/popover/popover_pointers_155__50_25_0_" 0 0;background-repeat: no-repeat;
    }
    
    &.extra-left {
      .sc-pointer { left: 70px; }
    }
  }
$theme: '.ace';

