
$theme: '.ace';
$theme: '.ace.sc-jumbo-size';

  
  #{$theme}.button {
    
    .sc-button-label {
      margin-top: 12px;
      top: 0px;
      height: 24px;
      font-size: 16px;
      font-weight: bold;
      color: #777;
    }
    
    & > .left {
@extend .__s79_270;
-chance-offset: "resources/button/ace/44px/normal_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s79_271;
-chance-offset: "resources/button/ace/44px/normal_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s79_272;
-chance-offset: "resources/button/ace/44px/normal_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    
    &.sc-static-layout .sc-button-label {
      margin-left: 3px;
      margin-right: 3px;
    }
    
    &.active {
      & > .left {
@extend .__s79_273;
-chance-offset: "resources/button/ace/44px/active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s79_274;
-chance-offset: "resources/button/ace/44px/active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s79_275;
-chance-offset: "resources/button/ace/44px/active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;    
    }
  
    &.sel, &.def {
      .sc-button-label {
        color:white;
        text-shadow: 0px -1px 1px black;
      }
      
      & > .left {
@extend .__s79_276;
-chance-offset: "resources/button/ace/44px/selected_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s79_277;
-chance-offset: "resources/button/ace/44px/selected_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s79_278;
-chance-offset: "resources/button/ace/44px/selected_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;    
  
      &.sel.active, &.def.active {
        & > .left {
@extend .__s79_279;
-chance-offset: "resources/button/ace/44px/selected_active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s79_280;
-chance-offset: "resources/button/ace/44px/selected_active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s79_281;
-chance-offset: "resources/button/ace/44px/selected_active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
      }
    }
  }
  
$theme: '.ace';

