
$theme: '.ace';
$theme: '.ace.sc-regular-size.popup';

  #{$theme}.button {
    & > .left {
@extend .__s83_322;
-chance-offset: "resources/button/popup/normal_select_0_0_5__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 5px; 
}
& > .middle {
@extend .__s83_323;
-chance-offset: "resources/button/popup/normal_select_5_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 5px; 
top: 0px; 
right: 25px; 
bottom: 0px; 
}
& > .right {
@extend .__s83_324;
-chance-offset: "resources/button/popup/normal_select__0_25__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 25px; 
}
;
    
    .sc-button-label {
      position: absolute;
      z-index: 5; /* Appear above background */
      left: 7px;
      text-align: left;
      right: 25px;
      vertical-align: top;
      color: #333;
    }
    
    &.sel, &.sel.active, &.active {
      & > .left {
@extend .__s83_325;
-chance-offset: "resources/button/popup/active_select_0_0_5__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 5px; 
}
& > .middle {
@extend .__s83_326;
-chance-offset: "resources/button/popup/active_select_5_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 5px; 
top: 0px; 
right: 25px; 
bottom: 0px; 
}
& > .right {
@extend .__s83_327;
-chance-offset: "resources/button/popup/active_select__0_25__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 25px; 
}
;
      
      text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
    }
  }
$theme: '.ace';

