
$theme: '.ace';
$theme: '.ace.sc-jumbo-size';


  #{$theme}.slider {
    overflow: visible;
  
    .track { 
      position: absolute;
      top: 50%; height: 5px; left: 0px; right: 0px;
      margin-top: -3px;
      
      & > .left {
@extend .__s60_168;
-chance-offset: "resources/slider/ace/22px/track_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s60_169;
-chance-offset: "resources/slider/ace/22px/track_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s60_170;
-chance-offset: "resources/slider/ace/22px/track__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
; 
    }
    
    .sc-handle { 
      display: block; position: absolute;
      width: 22px; height: 24px; top: 50%; margin-top: -11px;

      @extend .__s60_171;
-chance-offset: "resources/slider/ace/22px/knob_0_0___0_0" 0 0;background-repeat: no-repeat; 
    }
  
    &.active {
      .sc-handle { @extend .__s60_172;
-chance-offset: "resources/slider/ace/22px/knob_active_0_0___0_0" 0 0;background-repeat: no-repeat; }
    }
  
  }

$theme: '.ace';
